/* .row .col .jsLogo {
    width: 250px;
    height: 250px;
} */

.row .infoBox {
    height: 510px;
}

@media screen and (max-width: 990px) {
    .container .row .bg-dark .topImg {
        width: 100% !important;
    }
}